<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.board.mapper.BoardMapper">
    <resultMap id="attachmentMap" type="org.scoula.board.domain.BoardAttachmentVO">
        <!-- column = DB테이블의 컬럼명, property=JAVA 객체(VO)의 필드명,쿼리 결과를 이 필드에 넣을 것 -->
        <id column="ano" property="no"/>
        <result column="bno" property="bno"/>
        <result column="filename" property="filename"/>
        <result column="path" property="path"/>
        <result column="contentType" property="contentType"/>
        <result column="size" property="size"/>
        <result column="a_reg_date" property="regDate"/>
    </resultMap>

    <resultMap id="boardMap" type="org.scoula.board.domain.BoardVO">
        <id column="no" property="no"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="writer" property="writer"/>
        <result column="reg_date" property="regDate"/>
        <result column="update_date" property="updateDate"/>
        <collection property="attachmentList" resultMap="attachmentMap"/>
    </resultMap>

    <select id="getList" resultType="BoardVO">
        <![CDATA[
            select * from tbl_board
            order by no desc
        ]]>
    </select>

    <select id="read" resultMap="boardMap">
        SELECT b.*, a.no as ano, a.bno, a.filename, a.path,
               a.content_type, a.size, a.reg_date as a_reg_date
        FROM tbl_board b
                 LEFT OUTER JOIN tbl_board_attachment a
                                 ON b.no = a.bno
        WHERE b.no = #{no}
        ORDER BY filename
    </select>

    <insert id="create">
        INSERT INTO tbl_board (title, content, writer)
        VALUES (#{title}, #{content}, #{writer})
    </insert>

    <insert id="createSelectKey">
        INSERT INTO tbl_board (title, content, writer)
        VALUES (#{title}, #{content}, #{writer})

        <selectKey resultType="Long" keyProperty="no" keyColumn="no" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="update">
        UPDATE tbl_board
        SET title = #{title},
            content = #{content},
            writer = #{writer},
            update_date = now()
        WHERE no = #{no}
    </update>

    <delete id="delete">
        DELETE FROM tbl_board WHERE no = #{no}
    </delete>

    <insert id="createAttachment">
        INSERT INTO tbl_board_attachment(filename, path, content_type, size, bno)
        VALUES (#{filename}, #{path}, #{contentType}, #{size}, #{bno})
    </insert>

    <select id="getAttachmentList" resultType="org.scoula.board.domain.BoardAttachmentVO">
        SELECT * FROM tbl_board_attachment
        WHERE bno = #{bno}
        ORDER BY filename
    </select>

    <select id="getAttachment" resultType="org.scoula.board.domain.BoardAttachmentVO">
        SELECT * FROM tbl_board_attachment
        WHERE no = #{no}
    </select>

    <delete id="deleteAttachment">
        DELETE FROM tbl_board_attachment
        WHERE no = #{no}
    </delete>
</mapper>